<section class="wrapper">
    <div class="header">
        <h3>User Managment</h3>
    </div>
    <!-- {{userList$ | async}} -->
    <div class="padding">

        <div *ngFor="let user of userList$ | async " class="box" >
            <div (click)="toggle(user,$event)">
                <div class="flex ">
                    <i class="fas fa-chevron-down fa-fw"></i>
                    <div class="width50">{{user.firstName}}</div>
                    <div class="width50">{{user.lastName}}</div>
                </div>
            </div>
                <div [hidden]="!user.show">
                    <table cellpadding="20" cellspacing="0" width="100%">
                        <td>
                            <input type="text"
                             class="inputfield"
                             [value]="user.firstName"
                             name="firstName"
                             (change)="valueChange(user,$event)"
                              />
                        </td>
                        <td>
                            <input type="text" class="inputfield"
                            name="lastName"
                            [value]="user.lastName" (change)="valueChange(user,$event)" />
                        </td>
                    </table>
                    <div class="marginbottom">
                        
                        <button type="button" class="buttonstyle" (click)="save(user,$event)">Save</button>
                        <button type="button" class="buttonstyle"  (click)="toggle(user,$event)">Cancel</button>
                    </div>
                </div>


            </div>
    </div>
</section>